# https://editorconfig.org
root = true

[*]
indent_style = space
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{js,ts,jsx,tsx,css,less,html,json,markdown,md,yaml,yml}]
indent_size = 2
max_line_length = 120
trim_trailing_whitespace = true

[*.py]
indent_size = 4
max_line_length = 120
trim_trailing_whitespace = true

[*.md]
indent_size = 4
max_line_length = 120
trim_trailing_whitespace = false

[COMMIT_EDITMSG]
max_line_length = 0
