# macOS
.DS_Store

# Env files
env/

# Env variables
*.env*
!sample.env*
*.lock

# Zip
*.zip

# Models
**datasets/
**results/
**tensorboard_log/

# Include all trained models
**trained_models/
**train_model/

# Vim
tags

# Documentation Doxygen
doc/**
!doc/Doxyfile

# Documentation Latex
# sablona
docs/obrazky-figures/
**out/
*.dvi
*.log
*.blg
*.bbl
*.toc
*.aux
*.out
*.lof
*.ptc
*.bcf
#
*.eps
*.pdf
!**/zadani.pdf
#
*.bak0

# Materials
others/

# IDE
.idea/
.vscode/

# Caches
.pytest_cache/
__pycache__/
.cache/

# Package code
*.egg-info/

# venv
venv/

# Logs
logs/

# Images
*.jpg
*.jpeg
*.png
