[submodule "third_party/RLSolver"]
	path = third_party/RLSolver
	url = git@github.com:zlapik/RLSolver.git
[submodule "third_party/FinRL-Meta"]
	path = third_party/FinRL-Meta
	url = git@github.com:zlapik/FinRL-Meta.git
