[submodule "src/third_party/FinRL-Meta"]
	path = src/third_party/FinRL-Meta
	url = git@github.com:zlapik/FinRL-Meta.git
[submodule "src/third_party/RLSolver"]
	path = src/third_party/RLSolver
	url = git@github.com:zlapik/RLSolver.git
