# macOS
.DS_Store

# Env variables
*.env*
!sample.env*

# Models
datasets/
results/
tensorboard_log/
!trained_models/*trained*


# Documentation
doc/**
!doc/Doxyfile
*.dvi
*.log
*.blg
*.bbl
*.toc
*.aux
*.out
*.lof
*.ptc

# Materials
others/

# IDE
.idea/

# Caches
__pycache__/
.cache/

# venv
venv/
venv_2/

# Logs
logs/

# Package code
*.egg-info/

# Others
*.zip

# Images
*.jpg
*.jpeg
*.png
